<h1>User Upload Status</h1>

<p>The following is the status of the uploaded users:</p>

<table border="1" cellspacing="0" cellpadding="5">
  <thead>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>
  <% @user_statuses.each do |user| %>
    <tr>
      <td><%= user[:first_name] %></td>
      <td><%= user[:last_name] %></td>
      <td><%= user[:email] %></td>
      <td><%= user[:status] %></td>
    </tr>
  <% end %>
  </tbody>
</table>
