/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
.bg-gray{
    background-color: #F5F5F5 !important;
}

.img{
    width: 24px;
    height: 24px;
}

.bt{
    width: 414px;
    gap: 45px;
    text-align: center;
    font-size: 14px;
}

.like-gap{
    gap: 30px;
    font-size: 14px;
}

.icon-gap{
    gap: 194px;
}

.comment-width{
    width: 95%;
}

.h-50{
    height: 50px;
}

.mtop{
    margin-top: 20px;
}

.search-width{
    width: 760px;
    height: 56px;
}

.mx-2{
    margin-left: 6px;
}

.hover1{
    cursor: pointer;
}

.bg-img{
    margin: 0;
    padding: 0;
    background-image: url('bg_home.png'); /* Replace 'your-image.jpg' with your photo's path */
    background-size: cover ; /* Makes the image cover the entire screen */
    background-repeat: no-repeat; /* Prevents tiling of the image */
    background-position: center center; /* Centers the image */
    height: 100vh; /* Ensures the body takes up the full viewport height */
}

.home-content{
    font-size: 40px;
    font-weight: 600;
    width: 743px;
}

.content {
    position: absolute;
    top: 40%; /* Adjust the percentage to move it higher */
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
}

.btn-width{
    width: 206px;
    font-weight: 600;
    height: 48px;
    gap: 2px;
}